*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.contenedor-header{
    width: 100%;
    position: fixed;  /*HACE QUE LA BARRA SE MUEVA */
    border-bottom: 1px solid #1f283e;
    background-color: rgba(0,0,0,.7);
    background-color: rgb(245, 245, 245, .7);
    z-index: 99;
    padding: 0 20px;
    height: 90px;
    margin-top: -20px;
}
.contenedor-header header{
    max-width: 1000px;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    color: black;
}
.textoColor{
    color:blue;
}
.contenedor-header header nav a{
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 25px;
    text-transform: uppercase;
}
.contenedor-header header nav a:hover{
    color: #ff1133;
}
.contenedor-header header .redes a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px 8px;
}
.contenedor-header header .redes a:hover{
    color: #ff1133;
}
.nav-responsive{
    display: none;
    font-size: 25px;
 }



#welcomeMessage{
    display: none;
}

#link{
    display:contents;
}

body{
    height: 100vh;
    background:linear-gradient(rgba(0, 1, 3, 0.5), rgba(0,0,0,.7)),url(imgs/background-perfil.png);
    background-size: cover;
    background-position: center center;
    color: #fff;
    position: relative;
}

.container-perfil{
    display: flex;
    justify-content: space-around;
    color: aliceblue;
    
}

section{
    margin-top: 10%;
}

.container-perfil section h2{
    margin-bottom: 50px;
    text-decoration: underline;
}

section p{
    font-size: 24px;
    margin-top: 40px;
}

@media (max-width:768px) {
    .hamburguer-menu{
        display: block;
    }

    .hamburger-content {
        display: none; /* Mostrar solo al activar */
        position: absolute;
        top: 50px;
        right: 10px;
        background-color: #fff;
        border: 1px solid #ccc;
        width: 200px;
    }

    .hamburger-content a {
        display: block;
        padding: 10px;
        border-bottom: 1px solid #ccc;
        text-align: center;
    }

    #nav a{
        display: none;
    }
    

    .logo {
        height: 40px; /* Tamaño más pequeño para pantallas móviles */
        margin-top: 8px;
    }

    #logoName {
        font-size: 34px; /* Reducir el tamaño del texto del logo */
        margin-top: 8px;
    }

    .container-perfil section{
        margin-top: 28%;
    }

    .container-perfil section p{
        font-size: 18px;
    }


}


@media (min-width: 769px) {
    

    .hamburger-menu {
        display: none; /* Ocultar menú hamburguesa */
    }

    .hamburger-content{
        display: none;
    }

}