*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.contenedor-header{
    width: 100%;
    position: fixed;  /*HACE QUE LA BARRA SE MUEVA */
    border-bottom: 1px solid #1f283e;
    background-color: rgba(0,0,0,.7);
    background-color: rgb(245, 245, 245, .7);
    z-index: 99;
    padding: 0 20px;
    height: 90px;
    margin-top: -20px;
}
.contenedor-header header{
    max-width: 1000px;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    color: black;
}
.textoColor{
    color:blue;
}
.contenedor-header header nav a{
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 25px;
    text-transform: uppercase;
}
.contenedor-header header nav a:hover{
    color: #ff1133;
}
.contenedor-header header .redes a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px 8px;
}
.contenedor-header header .redes a:hover{
    color: #ff1133;
}
.nav-responsive{
    display: none;
    font-size: 25px;
 }



#welcomeMessage{
    display: none;
}

#link{
    display:contents;
}

body{
    height: 100vh;
    background:linear-gradient(rgba(0, 1, 3, 0.5), rgba(0,0,0,.7)),url("../imgs/fondorepetible.png");
    background-size: cover;
    background-position: center center;
    color: #fff;
    position: relative;
}

h2{
    text-align: center;
}

.titulo{ 
    color: #5d5be6;
    font-size: 58px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}
/*APLICAR MEDIA QUERY*/
@media (max-width: 425px) {
    .titulo{
        font-size: 40px;
    }
}

.descripcion{
    font-size: 20px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.titulo-rutina{
    text-align: center;
    color:#5d5be6;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}

.ejercicio{
    display: inline-block;
    width: 100%;
    color: aliceblue;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}

@media (max-width:768px) {
    .contenedor-header nav {
        display:inline-block;
    }

    .logo{
        margin-top: 10px;
    }

    .contenedor-header nav a {
        font-size: 14px;
    }

    .nav-responsive {
        display: block;
    }

    .inicio .info h2 {
        font-size: 2rem;
        text-align: center;
    }

    .contenedor-header header nav a{
        padding: 10px;
    
    }

    .inicio .info p {
        font-size: 12px;
        letter-spacing: 2px;
    }

    .inicio .opciones {
        flex-direction: column; /* Coloca las opciones en una columna */
        align-items: center;
    }

    .nosotros .fila {
        flex-direction: column; /* Ajusta la sección de 'nosotros' para pantallas pequeñas */
    }

    .nosotros .fila .col {
        width: 100%;
    }

}

@media (max-width:768px) {
    .hamburguer-menu{
        display: block;
    }

    .hamburger-content {
        display: none; /* Mostrar solo al activar */
        position: absolute;
        top: 50px;
        right: 10px;
        background-color: #fff;
        border: 1px solid #ccc;
        width: 200px;
    }

    .hamburger-content a {
        display: block;
        padding: 10px;
        border-bottom: 1px solid #ccc;
        text-align: center;
    }

    #nav a{
        display: none;
    }
    

    .logo {
        height: 40px; /* Tamaño más pequeño para pantallas móviles */
        margin-top: 8px;
    }

    #logoName {
        font-size: 34px; /* Reducir el tamaño del texto del logo */
        margin-top: 8px;
    }

    .elementos h4{
        font-size: 16px;
    }


}


@media (min-width: 769px) {
    

    .hamburger-menu {
        display: none; /* Ocultar menú hamburguesa */
    }

    .hamburger-content{
        display: none;
    }

}
